[submodule "LuaJIT-ImGui"]
	path = LuaJIT-ImGui
	url = https://github.com/sonoro1234/LuaJIT-ImGui
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "LuaJIT-GLFW"]
	path = LuaJIT-GLFW
	url = https://github.com/sonoro1234/LuaJIT-GLFW.git
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
